[submodule "dotnet"]
	path = dotnet
	url = git@github.ibm.com:Bluemix-Docs/dotnet.git
	branch = master
[submodule "go"]
	path = go
	url = git@github.ibm.com:Bluemix-Docs/go.git
	branch = master
[submodule "liberty"]
	path = liberty
	url = git@github.ibm.com:Bluemix-Docs/liberty.git
	branch = master
[submodule "nodejs"]
	path = nodejs
	url = git@github.ibm.com:Bluemix-Docs/nodejs.git
	branch = master
[submodule "php"]
	path = php
	url = git@github.ibm.com:Bluemix-Docs/php.git
	branch = master
[submodule "python"]
	path = python
	url = git@github.ibm.com:Bluemix-Docs/python.git
	branch = master
[submodule "ruby"]
	path = ruby
	url = git@github.ibm.com:Bluemix-Docs/ruby.git
	branch = master
[submodule "swift"]
	path = swift
	url = git@github.ibm.com:Bluemix-Docs/swift.git
	branch = master
[submodule "tomcat"]
	path = tomcat
	url = git@github.ibm.com:Bluemix-Docs/tomcat.git
	branch = master
